{%- liquid
    assign value = value | default: 0
    assign max_value = max_value | default: 5
    assign extra_class = extra_class | default: ''
    assign extra_style = extra_style | default: ''
    assign link = link | default: false
    assign list = list | default: false
    assign default_label = value | append: '/' | append: max_value
    assign label = label | default: default_label

    assign full_stars = value | floor
    assign partial_star = value | modulo: 1
    assign remaining_stars = max_value | minus: full_stars

    if partial_star > 0
        assign remaining_stars = remaining_stars | minus: 1
    endif
-%}

<{% if link %}a href="{{ link }}"{% elsif list %}li{% else %}p{% endif %} class="r6rt {{ extra_class }}" style="{{ extra_style }}">
    <span class="rating">
        {%- for i in (1..full_stars) -%}
            <span class="star">
                <span class="fill" style="width: 100%;"></span>
            </span>
        {%- endfor -%}

        {%- if partial_star > 0 -%}
            <span class="star">
                <span class="fill" style="width: {{ partial_star | times: 100 }}%;"></span>
            </span>
        {%- endif -%}

        {%- for i in (1..remaining_stars) -%}
            <span class="star">
                <span class="fill" style="width: 0;"></span>
            </span>
        {%- endfor -%}
    </span>
    <span class="rating-label">
        {{ label }}
    </span>
</{% if link %}a{% elsif list %}li{% else %}p{% endif %}>
